{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href=" {% static 'recipes/css/styles.css' %} ">
    <title>Logout</title>
</head>
<style>
.success-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
}
</style>

<body>
    <section class="success-container">
        <h1>you've been logged out</h1>
        <a href="recipes">head back to the home page</a>
    </section>
</body>

</html>